/*
* Setting the border box
* for all elements
*
*/

* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

/*
*
*   Common CSS features
*
*/
.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
}

.top-margin {
    margin-top: 10px;
}

.bottom-margin {
    margin-bottom: 10px;
}

.text-upper {
    text-transform: uppercase;
}

.text-align {
    text-align: right;
}

/*
*
*   Header specific css
*
*/

/*  <header> css
*/
.header-style {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*  <figure>
*   logo container
*/
.logo-container {
    width: 20%;
    margin: 0;
    text-align: center;
}

/*  <img> logo
*/
.image-logo {
    width: 100%;

}

/*  <h1>, <h3>
*   portfolio name
*/
.header-name {
    width: 80%;
    display: inline-block;
    color: #2d3c49;
}

.header-name h1 {
    font-weight: 300;
    font-size: 52px;
}

.header-name h3 {
    font-weight: 700;
}
h1,
h3 {
    margin: 0;
    padding: 0;
}

/**
*
*  Main image, body css
*
*/

.body-image {

}

/**
*   Media Query 800px
*
*/

@media screen and (max-width:850px) {
    .container {
        width: 100%;
        margin: 0;
    }

    picture {
      display: block;
      text-align: center;
      padding-left: calc((100% - 500px) / 2);
    }
}

/**
*   Media Query 450px
*
*/

@media screen and (max-width:450px) {
    .logo-container {
      order : 1;
      margin: auto;
    }

    .header-name {
      width: 100%;
    }

    .header-name h1 {
      font-size: 2em;
    }

    .text-align {
        text-align: center;
    }

    picture {
      padding-left: calc((100% - 300px) / 2);
    }

}
