/*
* Setting the border box
* for all elements
*
*/

* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: "Lato", sans-serif;
}

/*
*
*   Common CSS features
*
*/
.container {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    margin: 0 auto;
}

.top-margin {
    margin-top: 10px;
}

.bottom-margin {
    margin-bottom: 10px;
}

.text-upper {
    text-transform: uppercase;
}

.text-align {
    text-align: right;
}

/*
*
*   Header specific css
*
*/

/*  <header> css
*/
.header-style {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.horizonal {
    display: block;
    width: 100%;
    background-color: #7d97ad;
    height: 2px
}

/*  <figure>
*   logo container
*/
.logo-container {
    width: 20%;
    margin: 0;
    text-align: center;
}

/*  <img> logo
*/
.image-logo {
    width: 100%;

}

/*  <h1>, <h3>
*   portfolio name
*/
.header-name {
    width: 80%;
    display: inline-block;
    color: #2d3c49;
}

.header-name-h1 {
    font-weight: 300;
    font-size: 52px;
}

.header-name-h3 {
    font-weight: 700;
}

.no-pad-marg {
    margin: 0;
    padding: 0;
}

/**
*
*  Main image, body css
*
*/

.picture {
    display: block;
    text-align: center;
    padding-left: calc((100% - 815px) / 2);
}

/**
*  Featured Work
*
*/
.text-capital {
    text-transform: capitalize;
}

.feature-color {
    color: #7d97ad;
}

.feature-text {
    display: block;
    width: 100%;
}

.figure-work {
    display: inline-block;
    color: #2d3c49;
    text-align: center;
    margin: 0 10px 0 0;
    width: calc((100% - 20px) / 3);
}

.figure-work:last-of-type {
    margin: 0;
    float: right;
}

.figure-work a {
    text-decoration: none;
    color: #2d3c49;
}

.text-upper {
    text-transform: uppercase;
}

.caption {
    font-weight: 700;
    font-size: 1.17em;
}

.section-features {
    display: flex;
    flex-wrap: wrap;
}

/**
*   Media Query 800px
*
*/

@media screen and (max-width:850px) {
    .container {
        width: 100%;
        margin: 0;
    }

    .picture {
        padding-left: calc((100% - 515px) / 2);
    }

    .figure-work {
        width: 45%;
    }
}

/**
*   Media Query 500px
*
*/

@media screen and (max-width:500px) {
    .logo-container {
        order : 1;
        margin: auto;
    }

    .header-name {
        width: 100%;
    }

    .header-name h1 {
        font-size: 2em;
    }

    .text-align {
        text-align: center;
    }

    .picture {
        padding-left: calc((100% - 315px) / 2);
    }

    .figure-work {
        width: 100%;
    }

}
